/* ==UserStyle==
@name           Rectify11 Chrome-Edge Fixes
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Fixes issues caused by Chromium-based browser system colors bug
@author         WildByDesign
@updateURL	https://raw.githubusercontent.com/WildByDesign/UserStyles/main/Rectify11.user.styl
==/UserStyle== */

/* Add domains that are affected by this bug to the @-moz-document section */

@-moz-document domain("msi.com"), domain("bestbuy.ca"), domain("amazon.ca") {

	/* General fix for selection drop-down menus */
	
	select {
	  background-color: white !important;
	  color: black;
	}
	
	/* General fix for text/input boxes */
	
	input {
	  background-color: white !important;
	  color: black;
	}
	
	/* Specific fix for driver download tab buttons on msi.com */
	
	.subTab {
	  background-color: white !important;
	  color: black;
	}
	}
