/* ==UserStyle==
@name           Rectify11 Chrome-Edge Fixes
@namespace      github.com/openstyles/stylus
@version        1.2.1
@description    Fixes issues caused by Chromium-based browser system colors bug when using Rectify11
@author         WildByDesign
@updateURL      https://raw.githubusercontent.com/WildByDesign/UserStyles/main/Rectify11.user.styl
==/UserStyle== */


    /* This is a Global UserStyle that is applied to all web sites. */
    /* Changes are only applied to sites that do not explicitly specify colors. */
    /* Those are the sites triggering this bug. */


    /* General fix for selection drop-down menus */

	select {
	  background-color: light-dark(white, black);
	  color: light-dark(black, white);
	}

    /* General fix for text/input boxes */

	input {
	  background-color: light-dark(white, black);
	  color: light-dark(black, white);
	}

    /* General fix for buttons showing white text instead */

	button {
      background-color: light-dark(white, black);
      color: light-dark(black, white);
	}

    /* General fix for textarea */

	textarea {
	  background-color: light-dark(white, black);
	  color: light-dark(black, white);
	}
